/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log

# Ignore bundler config.
spec/dummy/.bundle
spec/dummy/vendor/bundle

# Ignore the default SQLite database.
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
spec/dummy/log/*.log
spec/dummy/tmp

spec/dummy/public/system
spec/dummy/*.csv
spec/dummy/coverage/
